@mixin glassMorphism {
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1rem);
  height: 100%;
  width: 100%;
}
@mixin glassMorphism-without-width {
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
}

@mixin webkit-clip-text {
  -webkit-background-clip: text;
  color: transparent;
}

@mixin respond($breakpoint) {
  @if $breakpoint == 5000px {
    @media only screen and (max-width: 5000px) {
      @content;
    }
  }
  @if $breakpoint == 4000px {
    @media only screen and (max-width: 4000px) {
      @content;
    }
  }
  @if $breakpoint == 3500px {
    @media only screen and (max-width: 3500px) {
      @content;
    }
  }
  @if $breakpoint == 3000px {
    @media only screen and (max-width: 3000px) {
      @content;
    }
  }
  @if $breakpoint == 2500px {
    @media only screen and (max-width: 2500px) {
      @content;
    }
  }
  @if $breakpoint == 2000px {
    @media only screen and (max-width: 2000px) {
      @content;
    }
  }
  @if $breakpoint == 1900px {
    @media only screen and (max-width: 1800px) {
      @content;
    }
  }
  @if $breakpoint == 1800px {
    @media only screen and (max-width: 1800px) {
      @content;
    }
  }
  @if $breakpoint == 1700px {
    @media only screen and (max-width: 1700px) {
      @content;
    }
  }
  @if $breakpoint == 1600px {
    @media only screen and (max-width: 1600px) {
      @content;
    }
  }

  @if $breakpoint == 1500px {
    @media only screen and (max-width: 1550px) {
      @content;
    }
  }
  @if $breakpoint == 1400px {
    @media only screen and (max-width: 1450px) {
      @content;
    }
  }
  @if $breakpoint == 1300px {
    @media only screen and (max-width: 1300px) {
      @content;
    }
  }
  @if $breakpoint == 1200px {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == 1100px {
    @media only screen and (max-width: 1100px) {
      @content;
    }
  }
  @if $breakpoint == 1000px {
    @media only screen and (max-width: 1000px) {
      @content;
    }
  }
  @if $breakpoint == 900px {
    @media only screen and (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == 800px {
    @media only screen and (max-width: 800px) {
      @content;
    }
  }
  @if $breakpoint == 700px {
    @media only screen and (max-width: 700px) {
      @content;
    }
  }
  @if $breakpoint == 600px {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == 500px {
    @media only screen and (max-width: 500px) {
      @content;
    }
  }
  @if $breakpoint == 470px {
    @media only screen and (max-width: 470px) {
      @content;
    }
  }
  @if $breakpoint == 450px {
    @media only screen and (max-width: 450px) {
      @content;
    }
  }
  @if $breakpoint == 400px {
    @media only screen and (max-width: 400px) {
      @content;
    }
  }
  @if $breakpoint == 300px {
    @media only screen and (max-width: 300px) {
      @content;
    }
  }
  @if $breakpoint == 200px {
    @media only screen and (max-width: 200px) {
      @content;
    }
  }
}
